/* Here will styles for app */
.content {
    position: relative;
    left: 300px;
    margin: 0px;
}

textarea {
    resize: none;
}

.input-file  span.btn {
    display: inline-block;
    margin: 0 10px;
}

.result-image {
    margin-top: 20px;
}

#result-container .row:nth-child(1){
    min-height: 250px;
}

.result-image img {
    width: 200px;
}

#result-btn {
    width: 200px;
}

@media screen and (max-width: 768px) {
    #result-container {
        text-align: center;
    }
}