{% extends 'base/input_form.html' %}

{% block form_content %}
    <div class="row">
        {% include "base/form_snippet.html" %}
    </div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
    $(document).ready(function () {
        var wp_input = $("#id_wordpress_url"),
            wp_div = wp_input.parent(),
            joomla_input = $("#id_joomla_url"),
            joomla_div = joomla_input.parent(),
            defaults = $("#id_use_defaults");

        function show() {
            wp_div.fadeIn('fast');
            joomla_div.fadeIn('fast');
            wp_input.prop('required',true);
            joomla_input.prop('required',true);
        }

        function hide() {
            wp_div.fadeOut('fast');
            joomla_div.fadeOut('fast');
            wp_input.prop('required',false);
            joomla_input.prop('required',false);
        }

        if ( defaults.prop('checked') ) hide();
        defaults.change(function(){
            if ( this.checked )
                hide();
            else
                show();
        });

        $("form").submit(function(event) {
            alert("hello");
            // TODO: write ajax request here
            event.preventDefault();
        });
    });
</script>
{% endblock script %}