{% extends 'app/index.html' %}

{% block page_content %}
{{ block.super }}
<div class="row">
	<div class="col-lg-12">
        <div class="panel {{ panel_type }}">
            <div class="panel-heading">{{ panel_heading }}</div>
            <div class="panel-body">
                <form action="{{ form_action }}" method="post">{% csrf_token %}
                {% block form_content %}
                {% endblock %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}